@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}
html {
	line-height: 1.4;
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	overflow-x: hidden;
}
.bg--red {
	background: #e63946;
}

.bg--blue {
	background: #1d3557;
}

.bg--black {
	background: #000;
}
.fixedBottomNav {
	position: fixed;
	bottom: 0;
	background: hsl(0, 0%, 70%);
	width: 100vw;
	padding: 2em 1rem;
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		&__item {
			padding: 1em 2rem;
			&__link {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1em;
				color: #fff;
				&__image {
					width: 3em;
					height: auto;
				}
				&__title {
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}
